[flake8]

# Quick reference for some of the most common errors
# E203 whitespace before ':' (Black)
# E402 module level import not at top of file
# E501 line too long (83 > 79 characters)
# F821 undefined name '_'
# W503 line break before binary operator (Black)

ignore =
    # whitespace before ':' (Black)
    E203,
    # line break before binary operator (Black)
    W503,

exclude = .git

max-line-length = 80

per-file-ignores =
    ./src/grass_gis_helpers/cleanup.py: F821
    ./src/grass_gis_helpers/general.py: F821
    ./src/grass_gis_helpers/location.py: F821
    ./src/grass_gis_helpers/mapset.py: F821
    ./src/grass_gis_helpers/parallel.py: F821
    ./src/grass_gis_helpers/tiling.py: F821
    ./src/grass_gis_helpers/validation.py: F821
